.button-bar {
  display: flex;
  padding: 1.5rem 0;
}
.button-bar-section {
  flex-grow: 1;
}
.button-links {
  text-align: right;
  font-size: x-large;
}
.button-links a{
  all: unset;
  cursor: pointer;
  padding-left: 1rem;
}
.button-links a:hover{
  color: var(--border-color)
}
.language-switch {
  display: flex;
  width: 16rem;
  color: white;
  font-weight: bold;
}
.language-switch .item:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-right: 1px solid white;
}
.language-switch .item:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.language-switch .item {
  cursor: pointer;
  text-align: center;
  width: 50%;
  padding: 0.25rem;
}
.language-switch .item.selected {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  color: var(--accent-color);
}
.language-switch .item:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.language-switch .item.selected:hover {
  cursor: default;
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}
.intro {
  height: 38rem;
  flex-shrink: 0;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4rem 6rem;
  position: relative;
  margin: 0 auto;
}
.gradient {
  background: linear-gradient(77deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}
.intro span {
  color: #6736CF;
}
.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 9px 0px rgba(103, 54, 207, 0.5);
  position: absolute;
  bottom: -8rem;
  right: 10rem;
}
.intro-text {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.625rem; /* 115.625% */
}