@import url("layout.css");
@import url("./FactsAndSkills/factsAndSkills.css");
@import url("Timeline/timeline.css");
@import url("TopBar/TopBar.css");
@import url("Projects/Projects.css");
@import url("Generic/generic.css");
@import url("Footer/footer.css");

:root {
  --border-color: #3f59ac;
  --box-background: #eef2f0;
  --box-background-tint: #dde6e2;
  --body-background: white;
  --accent-color: #6736CF;
  --accent-color-tint: #ffd278;
  --text-color: #220110;
  --comment-background: #96d8c3;
  --border-radius: 5px;
  --primary-color: #98C9E4;
  --secondary-color: #36CFB4;
}

body {
  background-color: var(--body-background);
  font-family: "Didact Gothic", sans-serif;
}
h2 {
  margin-top: 0;
  font-family: monospace;
  font-size: small;
  color: var(--accent-color);
}
ul {
  padding-left: 0;
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.page {
  width: 90rem;
  position: relative;
  margin: 0 auto 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.picture img {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 4px solid;
  border-color: var(--accent-color);
}

.picture {

  text-align: center;

}

.picture h1 {
  margin-bottom: 0;
  color: var(--border-color);
}
