:root {
  --border-color: #3f59ac;
  --box-background: #eef2f0;
  --body-background: white;
  --accent-color: #f4b842;
  --text-color: #220110;
  --comment-background: #96d8c3;
}

body {
  background-color: var(--body-background);
  font-family: "Didact Gothic", sans-serif;
}
h2 {
  margin-top: 0;
  font-family: monospace;
  font-size: small;
  color: var(--accent-color);
}
ul {
  padding-left: 0;
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.page {
  width: 80%;
  height: 90vh;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.language-comment {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.15rem 0.3rem;
  font-size: x-small;
  background-color: var(--comment-background);
  color: white;
  margin-right: 0.25rem;
}
.language-box {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 1rem;
  width: 24rem;
  position: relative;
  height: 4rem;
  margin: 1rem;
  font-size: large;
}
.language-comment-box {
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
}
.container-dots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0.25em;
  width: 5.5em;
  height: 1em;
}
.dot {
  border-radius: 50%;
  width: 100%;
  border: 1px solid var(--border-color);
}
.dot.filled {
  background-color: var(--accent-color);
}

.dot.empty {
  background-color: var(--box-background);
}

.box {
  background-color: var(--box-background);
  color: var(--text-color);
  padding: 1.5rem;
  border: 2px solid var(--border-color);
  border-radius: 2px;
}
.box img {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 4px solid;
  border-color: var(--accent-color);
}

.picture {
  grid-area: picture;
  background-color: transparent;
  text-align: center;
  border: none;
}

.picture h1 {
  margin-bottom: 0;
  color: var(--border-color);
}

.facts-and-skills {
  grid-area: facts-and-skills;
}

.education {
  grid-area: education;
}

.jobs {
  grid-area: jobs;
}

.projects {
  grid-area: projects;
}
.timeline-entry {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 2rem;
}
.timeline-entry h4 {
  font-size: larger;
  margin: 0;
  /*text-decoration: underline var(--comment-background);*/
}
.timeline-date {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 1rem 0rem;
}
.month {
  font-size: large;
}
.year {
  font-size: larger;
}
.vertical-line {
  width: 0px;
  height: 60%;
  border: 1px solid var(--accent-color);
  margin: auto;
}
.timeline-left-column {
  padding: 0 1rem;
}
.timeline-right-column {
  padding: 1rem;
  position: relative;
}
.timeline-entry-type {
  position: absolute;
  left: 1rem;
  border: 1px solid var(--border-color);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  background-color: var(--comment-background);
  color: white;
}